# Base URL of the backend API
# Default: http://localhost:3000/api/v1
VITE_BASE_URL=http://localhost:3000/api/v1
VITE_CDN_DOMAIN=s3-cdn-server-for-retrieving-files


# Log level for the application
# Options: trace, debug, info, warn, error
# Default: info
VITE_LOG_LEVEL=info
